<div class="container">
  <div class="col">
    <div class="row">
      <button *appRolePermissions="['ADMIN', 'SUSER']" type="button" [routerLink]="'/career'" class="btn btn-primary mt-4">Career</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER', 'TEACHER']" [routerLink]="'/materia'" class="btn btn-primary mt-4">Materia</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER', 'TEACHER', 'STUDENT']" [routerLink]="'/schedules'" class="btn btn-primary mt-4">Schedules</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER']" [routerLink]="'/users'" class="btn btn-primary mt-4">Users</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER']" [routerLink]="'/attendances'" class="btn btn-primary mt-4">Attendances</button>
    </div>
  </div>
</div>

<qrcode [width]="256" [qrdata]="'asd'"></qrcode>
<!-- Modal User Data -->
<div class="modal fade" id="userdata" tabindex="-1" aria-labelledby="newLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newLabel">User Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col">
            <div class="row">
              <input #nName class="form-control form-control-sm" type="text" placeholder="Name" aria-label=".form-control-sm example">
            </div>
            <div class="row">
              <input #nDescription class="form-control form-control-sm mt-3" type="text" placeholder="Description" aria-label=".form-control-sm example">
            </div>
            <div class="row">
              <input #nDuration class="form-control form-control-sm mt-3" type="text" placeholder="Duration" aria-label=".form-control-sm example">
            </div>
          </div>
          <div class="row">
            <div class="accordion accordion-flush" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    My Materias
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Materia</th>
                          <th scope="col">Assistance</th>
                          <th scope="col">Percent</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Materia 1</td>
                          <td>1/10</td>
                          <td>100%</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Materia 2</td>
                          <td>0/10</td>
                          <td>90%</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Schedules
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Materia</th>
                          <th scope="col">Day</th>
                          <th scope="col">Schedule</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Materia 1</td>
                          <td>Monday</td>
                          <td>19:00 pm to 21:00 pm</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Materia 2</td>
                          <td>Monday</td>
                          <td>21:00 pm to 23:00 pm</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Coming soon...
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Nothing here..</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button #nClose type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>

<!--Float button principal, se muestra en toda la pagina.-->
<div class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <button data-bs-toggle="modal" data-bs-target="#userdata" id="float" type="button" class="btn btn-main btn-success has-tooltip" data-placement="left" title="Menu"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
  </div>
</div>

<style>
  .btn-group-fab {
    position: fixed;
    width: 50px;
    height: auto;
    right: 20px; bottom: 20px;

  }
  .btn-group-fab div {
    position: relative; width: 100%;
    height: auto;

  }
  .btn-group-fab .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin-bottom: 4px;
    width: 40px; height: 40px;
    margin: 4px auto;
    box-shadow: 15px 6px 27px -9px rgba(0,0,0,0.75);
  }
  .btn-group-fab .btn-main {
    width: 50px; height: 50px;
    right: 50%; margin-right: -25px;
    z-index: 9;
  }
</style>
