<div class="container">
  <div class="col">
    <div class="row">
      <button *appRolePermissions="['ADMIN', 'SUSER']" type="button" [routerLink]="'/career'" class="btn btn-primary mt-4">Career</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER', 'TEACHER']" [routerLink]="'/materia'" class="btn btn-primary mt-4">Materia</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER', 'TEACHER', 'STUDENT']" [routerLink]="'/schedules'" class="btn btn-primary mt-4">Schedules</button>
    </div>
    <div class="row">
      <button type="button" *appRolePermissions="['ADMIN', 'SUSER']" [routerLink]="'/users'" class="btn btn-primary mt-4">Users</button>
    </div>
  </div>
</div>
